.App {
  text-align: center;
  width: 100%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pageFormat{
  width:100%;
  display:block;
  font-family: times, "Times New Roman";

}

.pageFormat h1{
  color: salmon;
}
.playerInfo{
 
  border: 1px solid salmon;
  padding: 5px;
  margin: 10px;
  border: shadow 1px salmon;
  width: 70%;
  float: left;
}

.ClubCart{
  background-color: rgb(216, 111, 111);
  width: 25%;
  display: inline-block;
  float: right;
  padding-top: 10px;
  margin-top: 10px;
}